<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#/">Home</a></li>
			<li class="active">Create</li>
		</ol>

		<div class="panel panel-info">
			<div class="panel-body">
				<a class="btn btn-success btn-xs pull-right" ng-click="save()">Save</a>
				<div class="col-md-12 form-group">
					<label>QCM Name</label>
					<input type="text" class="form-control" ng-model="qcm.name"/>
				</div>
				<div class="col-md-12 form-group">
					<label>Status</label>
					<select ng-model="qcm.status.name" class="form-control">
						<option ng-repeat="s in status" value="{{s.name}}">
							{{s.name}}
						</option>
					</select>
				</div>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-body">
				<div class="col-md-12 form-group">
					<label>Question</label>
					<input type="text" class="form-control" ng-model="question.question"/>
				</div>
				<div class="col-md-3 form-group">
					<label>Choice 1</label>
					<input type="text" class="form-control" ng-model="question.choices[0].name"/>
				</div>
				<div class="col-md-3 form-group">
					<label>Choice 2</label>
					<input type="text" class="form-control" ng-model="question.choices[1].name"/>
				</div>
				<div class="col-md-3 form-group">
					<label>Choice 3</label>
					<input type="text" class="form-control" ng-model="question.choices[2].name"/>
				</div>
				<div class="col-md-3 form-group">
					<label>Choice 4</label>
					<input type="text" class="form-control" ng-model="question.choices[3].name"/>
				</div>
				<div class="col-md-12 form-group">
					<label>Answer</label>
					<select ng-model="question.response.name" class="form-control">
						<option ng-repeat="choice in question.choices" value="{{choice.name}}">
							{{choice.name}}
						</option>
					</select>
				</div>
				<input type="submit" class="btn btn-success btn-block" value="Create" ng-click="create()"/>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-body">
				<ul class="list-group">
				  <li class="list-group-item" ng-repeat="question in questions">
				  		{{question.question}}
				  </li>
				</ul>
			</div>
		</div>

	</div>
</div>